body {
	background: #373737;
	color:#e5e5e5;
	font:100% 'lucida grande','lucida sans unicode',Verdana,Tahoma,Arial,sans-serif;
	line-height:1.2em;
	margin:0 auto;
	padding:0;
}

label {
	margin-left:5px;
}

a {
color:#0383c9;
font-weight:700;
text-decoration:none;
}

a:hover {
text-decoration:underline;
color: #f5a2c6;
}

a img {
border:0;
}

p {
margin:0 0 18px 0px;
}

ul,ol,dl {
font-size:1em;
margin:2px 0 16px 0px;
}

ul ul,ol ol {
margin:4px 0 4px 10px;
}

.posts { padding:0;}

li { padding:0 4px; color:#ccc; list-style: none; }

ul.posts li span { float:right; font-family:monofur, monaco, courier; color:#888; }
ul.posts li a { font-weight:200;}

.projects li a {color: #fba919;}
.writing li a {color: #00fa9a;}

div#post ul li { list-style: circle; }

blockquote {
border-left:8px solid #0383c9;
background: #474747;
font-size:1.0em;
margin:20px 10px;
padding:10px;
padding-left:20px;
}
blockquote span {
display: block;
float: right;
padding-right:20px;
}

pre {
	font-family: Monaco, Courier;
	background: #191919;
	border: dashed .5px #e5e5e5;
	padding: 5px;
	font-size:1em;
	line-height: 2em;
	clear:both;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

 .scoot { margin:5px 5px 5px 0px; }

 .terminal
 {
 background: #222021;
 color: #ddd;
 }

 .im
 {
 font-size:0.95em;
 line-height: 1.4em;
 width: 650px;
 font-family: 'lucida grande','lucida sans','lucida sans unicode',helvetica,tahoma;
 padding: 5px;
 background-color:#FFB604;
 color:#222;
 border: solid 1px #fff;
 }

 code {
	 color: white;
	 line-height: 1.1em;
	 padding: 3em;
 }

 h1 {
 color:#ffffff;
 font-size:2.7em;
 letter-spacing:-2px;
 margin:0 0 30px 0px;
 padding: 0 0 25px 0;

 }

 h1 a {
 color:#ffffff;
 text-transform:none;
 }

 h1 a:hover { color:#fba919 ;}

 #logo {
 margin: -65px 10px -30px -50px;
 float:right;
 background: url('/images/noun_project_3189.png');
 height: 213px; width:204px;
 }

 .publish_date {
 margin-top:-8px;
 margin-bottom:0px;
 text-align:right;
 font-size:0.8em;
 width:490px;
 color: #23af4c;

 }

/*** Colors ***/
 
 .white { color: #ffffff;
		}
 .orange { color: #fba919;
		   background: url('/images/noun_project_1331.png');
		   background-repeat:no-repeat;
		   background-position:top;
		   background-size:100px 100px;;
		 }
 .blue { color: #00fa9a;
		   background: url('/images/noun_project_2512.png');
		   background-repeat:no-repeat;
		   background-position:top;
		   background-size:100px 100px;;
		 }
 
 a.white:hover { color:#ffffff;
				 text-decoration:none;
			   	 background: url('/images/noun_project_3229.png');
				 background-repeat:no-repeat;
				 background-position:top;
				 height: 100px; width:100px;
			   }
 a.orange:hover {
	 color: #fba919;
	 text-decoration:none;
 	 background: url('/images/noun_project_1331c.png');
	 background-repeat:no-repeat;
	 background-position:top;
	 height: 100px; width:100px;
 }

 
 a.blue:hover {
	 color: #00fa9a;
	 text-decoration:none;
 	 background: url('/images/noun_project_2512b.png');
	 background-repeat:no-repeat;
	 background-position:top;
	 height: 100px; width:100px;
 }
 
 h2.orange { 	
background: #373737;	 
}
 h2.blue { 	 
background: #373737
}
 

.slogan a { padding-top:70px; padding-bottom:5px; line-height: 8em; }
 
.commentslink {
	 margin-bottom: 35px;
	 display:block;
	 border-bottom:solid 1px #dadada;
	 padding-bottom:25px;
 }
 
 
 h2 {
	 border-bottom:1px solid #e5e5e5;
	 color:#ffffff;
	 font-size:1.7em;
	 font-weight:100;
	 letter-spacing:-1px;
	 margin:0 0 10px;
	 padding:0px 2px 4px 5px;
 }

 h3 {
	 border-bottom:1px solid #e5e5e5;
	 color:#fba919;
	 font-size:1.4em;
	 font-weight: 100;
	 margin:10px 0 8px;
	 padding:1px 2px 2px 3px;
 }

 h4 {
 color: #23af4c;
 }
 /*** Main wrap and header ***/

 #wrap {
	 color:#f4f4f4;
	 margin:10px auto ;
	 padding:0;
	 width:900px;
 }


 #header {
	 margin:0;
 }

 #toplinks {
	 font-size:0.9em;
	 padding:5px 2px 0px 3px;
	 text-align:right;
 }

 #toplinks a {
	 color:gray;
 }

 div.slogan {
	 color:gray;
	 font-size:2em;
	 font-weight:700;
	 letter-spacing:-1px;
	 line-height:1.2em;
	 margin:-15px 0px 0px;
	 text-align:center;
 }
 div.slogan div { display:inline;}

 /*** Main content ***/

#content {
	float:left;
	line-height:1.5em;
	margin-left:100px;
	padding:20;
	text-align:left;
	width:700px;
}
 
 
#contentalt {
	float:left;
	line-height:1.5em;
	margin-right:20px;
	padding:0;
	text-align:left;
	width:6000px;
}
 
#isotype {
	float:left;
	overflow:hidden;
	padding:10;
	width:100px;
}

.icon_static {
	margin-left:30px;
}
 
.icon_scroll {
	 position:fixed;
	 top:0;
	 margin-left:30px;

 }

 #content h3,#contentalt h3 {
 margin:2px 0 8px;
 }

 /*** Footer ***/

 #footer {
	 border-top:4px solid #dadada;
	 clear:both;
	 color:gray;
	 font-size:0.9em;
	 line-height:1.6em;
	 margin:0 auto;
	 padding:8px 0;
	 text-align:center;
 }

 #footer p {
 margin:0;
 padding:0;
 }

 #footer a {
 color:#808080;
 }

 /*** Various classes ***/

 .box {
 background:#4088b8;
 border:1px solid #c8c8c8;
 color:#fff;
 font-size:0.9em;
 line-height:1.4em;
 padding:10px 10px 10px 13px;
 }

 .box a {
 color:#f0f0f0;
 }

 .left {
 float:left;
 margin:0 15px 4px 0;
 }

 .right {
 float:right;
 margin:0 0 4px 15px;
 }

 .readmore {
 margin:-10px 10px 12px 0;
 text-align:right;
 }

 .timestamp {
 font-size:1.2em;
 margin:-5px 0 15px 10px;
 }

 .timestamp a {
 font-weight:normal;
 }

 .clear {
 clear:both;
 }

 .gray {
 color:gray;
 }

 .photo {
 background:#fff;
 border:1px solid #bababa;
 margin:6px 18px 2px 5px;
 padding:2px;
 }

 @media (max-width: 800px) {
	/* 633px grid (88x6 col, 21x5 gut; 88+21+88+21+88+21+88+21+88+21+88) */
	 #content {
		 margin-left:10px;
	 }
	 #isotype {
		 float:none;
		 width:500px;
		 height:55px;
	 }

 }
 
 @media (max-width: 700px) {
	/* 633px grid (88x6 col, 21x5 gut; 88+21+88+21+88+21+88+21+88+21+88) */

	 #content {
		 width:500px;
		 margin-left:10px;
	 }

	 #isotype {
		 float:none;
		 width:500px;
		 height:55px;
		 }
	 .icon_scroll {
		 margin-left:30px;	 
	 }
	 
	 #wrap {
		 width:500px;
		 }
	 div.slogan {
		 font-size:1.5em;
		 line-height:1.2em;
		 margin:-15px 0 0px 0px;
	 }
 
	 div.slogan div { display:inline;}
	 
	 a.orange:hover {
		 color: #fba919;
		 text-decoration:none;
 		 background: url('/images/noun_project_1331b.png');
		 background-repeat:no-repeat;
		 background-position:top;
		 height: 100px; width:100px;
	 }
	 
	 a.white:hover {color:#ffffff;
					text-decoration:none;
			   		background: url('/images/noun_project_3229.png');
					background-repeat:no-repeat;
					background-position:top;
					height: 100px; width:100px;
				   }
	 
 }